{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSpacing": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "tailwindStylesheet": "./src/ui/style.css"
}
